body {
    background: black;
}

#post {
    width: 500px;
    height: 590px;
    background: white;
    margin: 1em auto;
}

#header {
    height: 10%;
    background: grey;
    display: inline-flex;
}

#foto {
    height: 50%;
    background: green;
}

#footer {
    height: 40%;
    background: blue;
}

#iconos {
    height: 25%;
    background: gold;
}

#mg {
    height: 25%;
    background: brown;
}

#texto {
    height: 50%;
    background: yellowgreen;
}

.logo1 {
    width: 40px;
    margin-top: 8px;
}

.logo2 {
    width: 40px;
    margin-top: 8px;
    margin-left: 306px;
}

.perrito {
    width: 500px;
    height: 98%;
    margin-top: 3px;
}